################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleUI/bin
/ConsoleUI/obj
/DomainLogic/bin
/DomainLogic/obj
